@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #5d71d7;
    --cor-terciaria: #0c0429;
    --cor-quaternaria: #070d2b;
    --cor-quinaria: #22D4FD;
    --cor-gradient: #0c174f;

    --fonte-primaria:  'Krona One', sans-serif;
    --fonte-secundaria: 'montsserat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:#ffffff;
    background: var(--cor-primaria);
    background: linear-gradient(90deg, var(--cor-primaria) 0%, var(--cor-gradient) 90%);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:#ffffff;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--cor-primaria);
}

.titulo-destaque {
    color: var(--cor-quinaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__links__subtitulos {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao {
    /*background-color: #0e207e;*/
    display: flex;
    justify-content: center;
    gap: 5px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
   /*background: #5d71d7;*/
    box-shadow: 0 0 150px var(--cor-secundaria), 0 0 5px var(--cor-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-terciaria);
    animation: pulse1 3s infinite;
    transition: 3s;
}

@keyframes pulse1 {
        0% {
        transform: scale(1);
      }
        50% {
        transform: scale(0.95);
      }
        100% {
        transform: scale(1);
      }
}

.apresentacao__imagem {
    width: 45%;
    border-radius: 400px;
    /* box-shadow: 0 0 400px #5d71d7; */
}

.rodape {
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    background-color: var(--cor-quaternaria);
    text-align: center;
}

.apresentacao__conteudo__titulo {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria); 
    font-weight: 600;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__imagem__eu {
    width: 30%;
    border-radius: 16px;
    box-shadow: 10px 10px 20px var(--cor-secundaria), 0 0 15px var(--cor-secundaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 15%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction:column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: 100%;
    }
}